* {
    font-family: 標楷體;
}

.English {
    font-family: Comic Sans MS;
    font-style: oblique;
}

body {
    font-family: "DFKai-SB", serif; 
    margin: 0;
    padding: 0;
    background-color: #cad8fb;
}

header {
    position: relative;
    text-align: center;
    color: rgb(121, 136, 205);
    margin: 0;
    padding: 0;
}

header img {
    display: block;
    width: 100%;
    height: 150px;
}

.title-text {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3em;
    font-weight: bold;
}

nav {
    display: flex;
    justify-content: center;
    background-color: #93abdb;
    padding: 10px;
    margin: 0;
    font-size: 25px;
}

.nav-item {
    flex: 1;
    text-align: center;
    font-weight: bold;
    padding: 10px;
    text-decoration: none;
    color: inherit;
}

.nav-item:hover {
    background-color: #b0c4de;
}

.personal-info {
    display: flex;
    justify-content: center;
    align-items: center; 
    margin-top: 20px;
    padding: 20px;
    font-size: 20px;
}

.left-column, .right-column {
    max-width: 900px;
}

.left-column {
    width: 25%; 
    display: flex;
    flex-direction: column;
    align-items: center;
}

.photo { 
    width: 230px; 
    height: 230px;  
    background-color: #ffffff; 
    border-radius: 50%;
    overflow: hidden; 
    display: flex; 
    align-items: center; 
    justify-content:center; 
    margin-bottom: 10px; }
.photo img { 
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.name {
    font-weight: bold;
    font-size: 1.2em;
}

.right-column {
    width: 75%;
}

.info-box {
    background-color: #e1e9ff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 740px;
}

.info-box p {
    margin: 10px 0;
}

.skills {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    padding: 20px;
    font-size: 20px;
}

.skills .info-box {
    background-color: #e1e9ff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 1000px; 
    width: 100%;
}
.competition-image {
    width: 200px;
    height: 200px;
    object-fit: cover;
    margin-right: 20px;
    border-radius: 10px;
}

.competitions {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    padding: 20px;
    font-size: 20px;
}

.competitions .info-box {
    background-color: #e1e9ff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 1000px; 
    width: 100%; 
    margin-bottom: 20px;
}

.skill {
    display: flex;
    align-items: center;
    margin: 10px 0;
}

.skill span {
    width: 100px;
    margin-right: 10px;
    font-weight: bold;
}

.bar-container {
    width: 60%;
    background-color: #ddd;
    border-radius: 25px;
    overflow: hidden;
    position: relative;
}

.bar {
    height: 20px;
    border-radius: 25px;
    background-color: #9fcaff;
    width: 0;
    transition: width 1s ease-in-out;
}

.animated .bar.python {
    width: 80%;
}

.animated .bar.java {
    width: 60%;
}

.animated .bar.web-design {
    width: 60%;
}

.animated .bar.powerpoint {
    width: 70%;
}

.animated .bar.excel {
    width: 50%;
}

.competition-item {
    display: flex;
}

.image-placeholder {
    width: 100px;
    height: 100px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
}

.text {
    flex: 1;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #d6e4ff;
    margin: 0;
    font-style: italic; 
    color: gray; 
}
